body {
	width: auto;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
}

.header {
	width: auto;
	height:300px;
	background-color: red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: 50px;
	margin-top: -50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	align-items: space-between;
	justify-content: center;
}

#top {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 50px;
}

#ovenLogo {
	width: 480px;
	height: 160px;
}

.switch {
	width: 160px;
	height: 160px;
}

#nav {
	width: 446.6666px;
	height: auto;
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav {
	width: auto;
}

.topImages {
	display: flex;
	flex-wrap: wrap;
}

#bCake {
	background-color: red;
	width: 446.6666px;
	height: 290px;
}

#cPie {
	background-color: green;
	width: 446.6666px;
	height: 290px;
}

#dBites {
	background-color: blue;
	width: 446.6666px;
	height: 290px;
}

.fRow {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

button {
	width: 190px;
	height: 50px;
	background-color: yellow;
}

#order {
	background-color: red;
	width: 446.6666px;
	height: 320px;
}

#cater {
	background-color: green;
	width: 446.6666px;
	height: 500px;
}

#menu {
	background-color: blue;
	width: 446.6666px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

#menuButtons {
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
}

.b {
	width: auto;
	height: auto;
	background-color: none;
	display: flex;
	flex-wrap: wrap;
}

.beginnings {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	width: 893.3333px;
	background-color: none;
}

#p1 {
	background-color: red;
	width: 446.6666px;
	height: 300px;
}

#p2 {
	background-color: green;
	width: 446.6666px;
	height: 300px;
}

#timeline {
	background-color: none;
	width: 840px;
	height: 120px;
	margin-top: 50px;
}

#old {
	background-color: red;
	width: auto;
	height: 250px;
	margin-top: 50px;
	margin-right: 50px;
}

#new {
	background-color: green;
	width: auto;
	height: 250px;
	margin-top: 50px;
}

.shop {
	margin-top: 50px;
	width: 446.6666px;
	display: flex;
	flex-direction: column;
}

#oShop {
	background-color: blue;
	width: 400px;
	height: 350px;
	margin-left: 50px;
}

#iShop {
	background-color: red;
	width: 400px;
	height: 350px;
	margin-top: 70px;
	margin-left: 50px;
}

.footer {
	width: auto;
	height:auto;
	background-color: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: -50px;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.box {
	width: 350px;
	height: 280px;
	background-color: red;
}

@media (max-width: 1100px){
	.switch {
		display: none;
	}

}