body {
	width: auto;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
	font-family: sans-serif;
}

.header {
	width: auto;
	height:300px;
	background-color: #B8809E;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: 50px;
	margin-top: -50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	align-items: space-between;
	justify-content: center;
}

#top {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 50px;
}

#ovenLogo {
	width: 480px;
	height: 160px;
}

#ovenLogosmall {
	display: none;
}

.switch {
	width: 160px;
	height: 160px;
}

#nav {
	width: 446.6666px;
	height: auto;
	background-color: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: -50px;
}

.nav {
	width: auto;
	height: 20px;
}

.nav:hover {
	color: #EDDFE7;
	background-color: #B8809E;
}

.topImages {
	display: flex;
	flex-wrap: wrap;
}

#bCake {
	background-color: red;
	width: 446.6666px;
	height: 290px;
}

#bCake:hover {
	
}

.hidden {
	display: none;
}

#cPie {
	background-color: none;
	width: 446.6666px;
	height: 290px;
}

#dBites {
	background-color: none;
	width: 446.6666px;
	height: 290px;
}

	#bCake2 {
	display: none;
	}

	#cPie2 {
	display: none;
	}

	#dBites2 {
	display: none;
	}

.fRow {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.fBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 50px;
}

h1 {
	font-size: 20px;
	margin-bottom: -25px;
}

h2 {
	font-size: 20px;
	margin-bottom: -25px;
}

h3 {
	font-size: 20px;
	margin-bottom: -25px;
}

.noMargin {
	margin-bottom: 10px;
}

h4 {
	font-size: 20px;
	margin-bottom: -30px;
}

button {
	width: 190px;
	height: 50px;
	background-color: #B8809E;
	border: none;
	color: white;
	padding: none;
	font-size: 20px;
}

button:hover {
	background-color: #d39cba;
}

a {
	color: #ffffff;
	text-decoration: none;
}


select {
	font-size: 20px;
	margin-left: 25px;
}

.orderDrop {
	background-color: #B8809E;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-left: -50px;
	margin-right: -50px;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	display: none;
}

#oBread {
	visibility: hidden;
}

.oBread:focus {
	#oBread {
		visibility: visible;
	}

	.orderDrop {
		display: inline;
	}

	background-color: #000000;
}

#order {
	background-color: none;
	width: 400px;
	height: 320px;
	margin-right: 50px;
}

#orderButtons {
	display: flex;
	justify-content: center;
}

#cater {
	background-color: none;
	width: 400px;
	height: 500px;
	margin-right: 50px;
}

#menu {
	background-color: none;
	width: 400px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.menu {
	background-color: green;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
}

.menuMenu {
	background-color: none;
	width: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menuServices {
	background-color: none;
	width: auto;
	height: auto;
}

#menuButtons {
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
}

.menuButtons {
	background-color: none;
	width: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
}

.menuHeader {
	color: #B8809E;
	margin-top: 75px;
	margin-bottom: 0;
	font-size: 50px;
}

.imgFlex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.comQuality {
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
		margin-bottom: 50px;
	}

.hours {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 50px;
		justify-content: space-between;
	}

.b {
	width: auto;
	height: auto;
	background-color: none;
	display: flex;
	flex-wrap: wrap;
}

.beginnings {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	width: 893.3333px;
	background-color: none;
}

h5 {
	font-size: 20px;
	margin-bottom: -30px;
	margin-top: 0px;
}

.p1 {
	background-color: none;
	width: 400px;
	height: 300px;
	margin-right: 50px;
}

.pHours {
	background-color: none;
	width: 300px;
	height: 200px;
	line-height: 25px;
}

.pHours2 {
	background-color: none;
	width: 600px;
	height: 200px;
	margin-top: 50px;
}

#p2 {
	background-color: none;
	width: 400px;
	height: 300px;
}

#p22 {
	background-color: none;
	width: 400px;
	height: 300px;
}

#timeline {
	background-color: none;
	width: 840px;
	height: 120px;
	margin-top: 50px;
}

#old {
	background-color: red;
	width: auto;
	height: 250px;
	margin-top: 50px;
	margin-right: 50px;
}

#new {
	background-color: green;
	width: auto;
	height: 250px;
	margin-top: 50px;
}

.shop {
	margin-top: 50px;
	width: 446.6666px;
	display: flex;
	flex-direction: column;
}

#oShop {
	background-color: blue;
	width: 400px;
	height: 350px;
	margin-left: 50px;
}

#iShop {
	background-color: red;
	width: 400px;
	height: 350px;
	margin-top: 70px;
	margin-left: 50px;
}

.footer {
	width: auto;
	height:auto;
	background-color: #B8809E;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: -50px;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

h6 {
	font-size: 20px;
	margin-bottom: -30px;
	margin-top: 0px;
}

h7 {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.hover:hover {
	color: #EDDFE7;
}

.socialMedia {
	width: auto;
	height: auto;
	background-color: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box {
	width: 350px;
	height: 280px;
	background-color: none;
}

.box2 {
	width: 350px;
	height: 280px;
	background-color: none;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	font-size: 25px;
}

::selection {
  background: #d39cba;
}

@media (max-width: 1100px){
	.switch {
		display: none;
	}

@media (max-width: 800px){

	.header {
	width: auto;
	height:250px;
	background-color: #B8809E;
	justify-content: center;
	}

	#top {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 50px;
	}

	.nav {
	width: auto;
	height: 20px;
	}

	.imgFlex {
		width: 400px;
		height: auto;
	}

	#timeline {
		display: none;
	}

	#ovenLogo {
	width: 200px;
	height: auto;
	display: none;
	}

	#ovenLogosmall {
	width: 200px;
	height: auto;
	display: block;
	}

	#bCake {
	display: none;

	}

	#cPie {
	display: none;

	}

	#dBites {
	display: none;

	}

	#bCake2 {
	display: block;
	width: 400px;
	height: 290px;
	margin-bottom: 25px;
	}

	#cPie2 {
	display: block;
	width: 400px;
	height: 290px;
	margin-bottom: 25px;
	}

	#dBites2 {
	display: block;
	width: 400px;
	height: 290px;
	}

	#oShop {
	background-color: blue;
	width: 400px;
	height: 350px;
	margin-left: 0px;
	}

	#iShop {
	background-color: red;
	width: 400px;
	height: 350px;
	margin-top: 70px;
	margin-left: 0px;
	}

	.box2 {
	width: 350px;
	height: 280px;
	display: flex;
	justify-content: center;
	text-align: center;
	}

	#p22 {
	background-color: none;
	width: 400px;
	height: 300px;
	margin-top: 100px;
	margin-bottom: -100px;
	}

}